<% title("Index", "User") %>
<header>
  <h1>Users</h1>
</header>

<div class="table table-responsive">
    <table class="table">
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name+" ("+user.email+")" %></td>
          <td>
            <%= link_to "Delete", admin_destroy_user_path(user), method: :delete, class: "delete", data: { confirm: "You sure?" } %>
          </td>
        </tr>
      <% end %>
    </table>
</div>
<br>
<div class="pagination">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, :container => false %>
</div>
