<h1>Welcome to Wikiiki</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>A Wiki replica to teach the fundamentals of web development and Rails.</p>
    <p><strong>Technology: </strong>HTML, CSS, Ruby on Rails, Bootstrap, Sendgrid
        mail server, ActionMailer client, Figaro to setup environment variables;
        Stripe for handling credit cards, Pundit for authorization, SQLite, PostgreSQL,
        Redcarpet Markdown for text entries, and Faker for generating test data.
    </p>
  </div>
</div>
