<header>
  <center><h1>Welcome to Wikiiki</h1></center>
      <p>A Wiki replica to teach the fundamentals of web development and Rails.</p>
      <p><strong>Technology: </strong>HTML, CSS, Ruby on Rails, Bootstrap, Sendgrid
          mail server, ActionMailer client, Figaro to setup environment variables,
          Devise for handling Users account, Stripe for handling credit cards, Pundit for authorization, SQLite, PostgreSQL,
          Redcarpet Markdown for text entries, Faker for generating test data, Rspec for testing, and Carrierwave for file attachment
      </p>
</header>
