<header>
  <center><h1>Welcome to Wikiiki</h1></center>
  <div class="center">
      <p><strong>Minh Nguyen</strong></p>
      <p>925-705-8321</p>
      <p>mn_misc-generic@yahoo.com</p>
  </div>
</header>
