<h1>Welcome to Wikiiki</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
        <p>You will need to confirm your registration via email, so please use an email account you can get access to.</p>

        <ul>
            <li>Users should have one of three roles: Standard (free), Premium, or Admin.</li>
            <li>Users default to the standard role when they are first created.</li>
            <li>User can upgrade to Premium account using the fake visa card</li>
            <li>Standard users should be able to edit any public wiki.</li>
            <li>Only Premium and Admin can create new post.</li>
            <li>Only Premium and Admin can edit private post.</li>
            <li>Only Premium and Admin can add collaborators to a post.</li>
        </ul>

        <p>You can use the following fake Visa card for upgrading to Premium account:</p>
        <p style="padding-left:225px;"><strong>Visa</strong> 4242424242424242</p>
        <p style="padding-left:225px;"><strong>Secret Code</strong> 123 </p>
        <p style="padding-left:225px;"><strong>Expiration Date</strong> 12/2025 </p><br>
        <p> For testing purposes, the following users have been created:</p>
        <ul>
            <li> Standard User:  standard[n]@yahoo.com   </li>
            <li> Premium  User:   premium[n]@yahoo.com   </li>
        </ul>
        <p> Where [n] is any number between 1 and 6 and the password is "password"</p><br>
    </div>
</div>
