<header>
  <center><h1>Welcome to Wikiiki</h1></center>

        <p>You will need to confirm your registration via email, so please use an email account you can get access to.</p>

        <ul>
          <li>Users should have one of three roles: Standard (free), Premium, or Admin.</li>
          <li>Users default to the standard role when they are first created.</li>
          <li>User can upgrade to Premium account using the fake visa card</li>
          <li>Standard users should be able to edit any public wiki.</li>
          <li>Users can remove themselves and their posts by canceling their own account</li>
          <li>Only Premium and Admin can create new post.</li>
          <li>Only Premium and Admin can edit private post.</li>
          <li>Only Premium and Admin can add collaborators to a post.</li>
          <li>Admin User can lock/unlock users by changing their password.</li>
          <li>Admin User can delete any user</li>
          <li>When downgrade from premium: </li>
            <ul>
              <li>  all posts belonged to user will be marked as public.</li>
          	  <li>  all collaboration will be removed.</li>
              <li>	User still have ability to edit and delete their own old posts.</li>
              <li>	this way user can save money by upgrade only when they need to create and collaborate on new posts.</li>
            </ul>
          <li>When delete user:</li>
            <ul>
              <li>	all posts belonged to user will be removed.</li>
              <li>	all collaboration will be removed</li>
            </ul>
          <li>When delete posts:</li>
            <ul>
              <li>	all collaboration will be removed</li>
            </ul>
          <li>When remove collaboration:</li>
            <ul>
              <li>	done at per user</li>
            </ul>
        </ul>


        <p>You can use the following fake Visa card for upgrading to Premium account:</p>
        <p style="padding-left:225px;"><strong>Visa</strong> 4242424242424242</p>
        <p style="padding-left:225px;"><strong>Secret Code</strong> 123 </p>
        <p style="padding-left:225px;"><strong>Expiration Date</strong> 12/2025 </p><br>
        <p> For testing purposes, the following users have been created:</p>
        <ul>
            <li> Standard User:  standard[n]@yahoo.com   </li>
            <li> Premium  User:   premium[n]@yahoo.com   </li>
        </ul>
        <p> Where [n] is any number between 1 and 6 and the password is "Password1"</p><br>

</header>
