<% if user_signed_in? %>
  <p></p>
<% else %>
<div class="center jumbotron">
   <h1>Welcome to Wikiikki</h1>
   <h2>
     <p>Home of the Wiki like apps</p>
     <p>Signup and post messages for free<p>
   </h2>

   <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
