<header>
  <h1>Roles</h1>
  <ul class="actions">
   <%= link_to "New Role", new_admin_role_path, class: "new" %>
 </ul>
</header>
<div id="roles">
  <% @roles.each do |role| %>
    <h2><%= link_to role.name, [:admin, role] %></h2>
  <% end %>
</div>
<br>
<div class="pagination">
    <div class="page_info">
      <%= page_entries_info @roles %>
    </div>
    <%= will_paginate @roles, :container => false %>
</div>
