<header>
  <h1>Posts</h1>
  <% if policy(current_user).premium? -%>
    <ul class="actions">
      <%= link_to "New Post", new_post_path, class: "new" %>
    </ul>
  <% end %>
</header>

<div id="posts">
  <% @posts.each do |post| %>
    <h2><%= link_to post.title, post %></h2>
  <% end %>
</div>
 <%= will_paginate %>
