@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "posts";
@import "responsive";
@import "admin/application";

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
}

a.add, a.new, a.edit, a.delete, a.collaborate {
  @extend .btn;
  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
    }
}
a.add {
  @extend .btn-success;
  &:before {
    @extend .fa-plus;
  }
}

a.new {
  @extend .btn-success;
  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;
  &:before {
    @extend .fa-pencil;
  }
}
a.delete {
  @extend .btn-danger;
  &:before {
    @extend .fa-trash;
  }
}
a.collaborate {
  @extend .btn-default;
  &:before {
    @extend .fa-share-square-o;
  }
}

.alert-notice {
  @extend .alert-success;
}
.alert-alert {
  @extend .alert-danger;
}

form {
  max-width: 500px;
}
body {
  padding-top: 70px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.mine {
  color: green;
}
.collaborating {
  color: purple;
}
